// main text colors of the site
$primary-txtcolor: #212121;
$secondary-txtcolor: #757575;
$accent-color: #2196f3;
$light-txtcolor: #ffffff;
$footer-contacts-txtcolor: rgba(255, 255, 255, 0.6);
// main bgr colors
$primary-backgrcolor: #ffffff;
$secondary-backgrcolor: #f5f4fa;
$darkpart-backgrcolor: #2f303a;
// site fonts
$primary-font: Roboto;
$secondary-font: Raleway;
